body {
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2193b2+50,7db9e8+100 */
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #2193b2 50%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#23032b), to(#581c38));
  background: -webkit-linear-gradient(left, #23032b 0%, #581c38 100%);
  background: -o-linear-gradient(left, #23032b 0%, #581c38 100%);
  background: linear-gradient(to right, #23032b 0%, #581c38 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  font-family: sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: #1e5799;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(200deg, #3f1468 0%, #a37de8 100%);
  background: -o-linear-gradient(200deg, #3f1468 0%, #a37de8 100%);
  background: linear-gradient(250deg, #3f1468 0%, #a37de8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.help {
  width: 222px;
  margin: auto;
}
.wrapper {
  margin: auto;
  max-width: 1280px;
}
.line {
  margin: auto;
  margin-top: 500px;
  margin-bottom: 75px;
  width: 700px;
  height: 25px;
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #1e5799;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #2193b2 50%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #29943b), to(#f57a49));
  background: -webkit-linear-gradient(left, #29943b 50%, #f57a49 100%);
  background: -o-linear-gradient(left, #29943b 50%, #f57a49 100%);
  background: linear-gradient(to right, #29943b 50%, #f57a49 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
  font-family: sans-serif;
}
.line .playerline {
  width: 1%;
  height: 100%;
  float: left;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  background-color: teal;
}
.line::before {
  content: "20";
  font-size: 32px;
  position: relative;
  top: -35px;
  left: 566px;
  color: white;
}
.line .edge {
  width: 3px;
  height: 100%;
  float: right;
  margin-right: 105px;
  background-color: white;
}
.total-credits {
  margin-top: 55px;
  float: right;
  font-size: 35px;
  color: #13991a;
}
.random-1-8,
.random-4-7,
.bit,
.substract {
  float: left;
  margin: auto;
}
.top-control {
  width: 100%;
  height: 65px;
}
.top-control div {
  height: 100%;
  float: left;
  width: 33.3%;
}
.top-control button {
  width: 100%;
}
.top-control .bit-value input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
  font-size: 26px;
}
.substract button,
.add button,
.stop button,
.play button {
  width: 350px;
}
.stop {
  float: left;
}
.bit {
  width: 230px;
  height: 67px;
}
.bit input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 26px;
}
button {
  font-size: 26px;
  cursor: pointer;
  padding: 15px 71px;
}
.control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 700px;
}
.active {
  background-color: gray;
}
.result {
  text-align: center;
  width: 150px;
  margin: 85px auto;
  font-size: 26px;
}
.result p {
  display: inline;
}
